---
interface Props {
  pathname: string;
}

const { pathname } = Astro.props;

console.log(pathname);
---

<nav
  class="hidden sm:fixed sm:flex sm:w-full sm:justify-end sm:h-[10%] sm:border-b sm:border-gray-600 sm:bg-transparent sm:backdrop-blur-md"
>
  <div class="w-[50%] flex justify-evenly items-center">
    <a href="#inicio" class="nav-link font-display text-2xl text-white"
      >Inicio</a
    >
    <a href="#skills" class="nav-link font-display text-2xl text-white"
      >Skills</a
    >
    <a href="#projects" class="nav-link font-display text-2xl text-white"
      >Proyectos</a
    >
  </div>
</nav>

<style>
  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.2s ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }
</style>
